* {
	padding: 0;
	margin: 0;
}
body {
	position: fixed;
	width: 100%;
	height: 100%;
	overscroll-behavior: contain;
}
canvas {
	display: block;
	cursor: crosshair;
}
#tools {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
#tools button {
	padding: 12px;
	margin: 6px;
	font-size: 18px;
}
#tools.dark button {
	background: #2d2c2c;
	color: white;
	border: 0;
	box-shadow: 0 1px 7px 0 white;
	border-radius: 9px;
}