* {
  padding: 0;
  margin: 0;
  user-select: none;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior: contain;
}
canvas {
  display: block;
  cursor: crosshair;
}
#tools {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 99;
  transition: left 0.4s ease;
  display: flex;
}
#tools.hide {
  left: -470px;
}
#tools button {
  padding: 12px;
  margin: 4px 2px;
  font-size: 18px;
  border-radius: 9px;
  border: 1px #2d2c2c solid;
}
#tools button.active {
  background: #dcdcdc;
  color: #414141;
}
#tools.dark button {
  background: #2d2c2c;
  color: #fff;
  border: 1px #020101 solid;
}
#tools.dark button.active {
  background: #1f1d1d;
  color: #e3e3e3;
}
#toHide.left div {
  transform: rotate(180deg);
}
#warning {
  background-color: #fff;
  background-image: linear-gradient(180deg, #d6dae0 5%, rgba(71,67,137,0) 30%), linear-gradient(0deg, #de4554, rgba(71,67,137,0) 30%);
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 101;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}
#warning p {
  color: #2c2c2c;
  font-size: 38px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}
#warning button {
  box-shadow: inset 0 1px 0 0 #fff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #2c2c2c;
  font-family: Arial;
  font-size: 32px;
  font-weight: 100;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}
#warning button hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}
#warning button active {
  position: relative;
  top: 1px;
}
@media screen and (orientation: portrait) {
  #warning {
    display: flex;
  }
}
