* {
  padding: 0;
  margin: 0;
  user-select: none;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior: contain;
}
canvas {
  display: block;
  cursor: crosshair;
}
#tools {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#tools button {
  padding: 12px;
  margin: 4px 2px;
  font-size: 18px;
}
#tools.dark button {
  background: #2d2c2c;
  color: #fff;
  border: 1px #2d2c2c solid;
  box-shadow: 0 1px 7px 0 #fff;
  border-radius: 9px;
}
#tools button.active {
  background: #1f1d1d;
  color: #e3e3e3;
}
#warning {
  background-color: #fff;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 101;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}
#warning p {
  font-size: 38px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}
#warning button {
  font-size: 32px;
  padding: 10px;
  font-weight: 100;
}
#warning button {
  box-shadow:inset 0 -3px 7px 0 #29bbff;
  background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color:#2dabf9;
  border-radius:3px;
  border:1px solid #0b0e07;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0 1px 0 #263666;
}
#warning button:hover {
  background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color:#0688fa;
}
#warning button:active {
  position:relative;
  top:1px;
}

/*@media all and (display-mode: fullscreen) {*/
/*@media screen and (orientation:landscape) {*/
/*	#warning {*/
/*		display: none !important;*/
/*	}*/
/*	html:fullscreen #warning {*/
/*		display: none !important;*/
/*	}*/
/*}*/
@media screen and (orientation: portrait) {
  #warning {
    display: flex;
  }
}
